# The porpouse of this notebook is to serve as a way to solve problems.
######

GabinoAntOrt95@gmail.com 

https://github.com/GabiAnt95

# -------------------------------------------------------------------------------------------------------

# Split DataFrame Depending on Unique Values of a Given Column

### For Example, we have a DataFrame with 2 columns, countries and a some funny cities of each
### Sometimes could be useful splitting this DataFrames in several DataFrames, for example, getting one DataFrame for each unque value of the column "Country"
### And in order to be meticulous and as a "good-practise" the name of each DataFrame should be the own value

## LetÂ´s see an example of INPUT:
  **Note that we have 3 fields in the column country which are None**

######

In [37]:
import pandas as pd

have_fun = pd.DataFrame()

have_fun['country'] = ['Spain', 'Spain', 'Spain', 'Brazil', 'Brazil', 'France', 'Albania', 'Albania', 'Thailandia', 'Thailandia', None, None, None]
have_fun['funny_cities'] = ['Madrid', 'Langreo', 'Tenerife', 'Rio', 'Sao Paulo', 'Lyon', 'Triana', 'Tropoje', 'Pattaya', 'Krabi', 'Invented_City', 'Paris_not_funny', 'klk mnin']

have_fun

       country     funny_cities
0        Spain           Madrid
1        Spain          Langreo
2        Spain         Tenerife
3       Brazil              Rio
4       Brazil        Sao Paulo
5       France             Lyon
6      Albania           Triana
7      Albania          Tropoje
8   Thailandia          Pattaya
9   Thailandia            Krabi
10        None    Invented_City
11        None  Paris_not_funny
12        None         klk mnin

###

#### The next pipeline/framework/process/method... as you wanna call it cannot be encapsullled in a function due to its own way to work.
#### It works with the function locals, used to convert a given string into the name of a function

# For a given df and column:
###### 
    - 1) Function locals()[x] = any_value creates a variable with the given name inside [x]
    - 2) Function names in Python:
                                 - Cannot contain spaces
                                 - Cannot contain not alphanumeric characters
                                 - Cannot begin with a number (So, an 'A_' will be added at the beginning of the unique velue if it begins with a numerica char)
                                 - Cannot be empty (Reason why we do the "fillna" for the given column)
    - 3) If the column contains 10 diferent unique values we will create 10* diferent DataFranmes
                                * If there are Na values, an extra-df will be created with the values which had Na in the given column *
    - 4) The name of each DataFrame will be printed in order to help the user to see the name of the variables which he has created
    - 5) Also, they are saved in a list called "created_dataframes"

# Following you will find the generic code:

In [ ]:


df[column] = df[column].fillna('EMPTY')

for value in df[column].unique():
    if value[0].isnumeric():
        value = 'A_' + value
    locals()["".join([e for e in value.strip().replace(' ', '_') if e.isalnum()])] = df[df[column] == value].reset_index(drop = True)
    print("".join([e for e in value.strip().replace(' ', '_') if e.isalnum()]))

# Finally, the Generic Code Applied to the Df of the Example
### We receive one DataFrame for each country:
######

In [48]:
have_fun['country'] = have_fun['country'].fillna('EMPTY')

created_dataframes = []
print("The Following DataFrames has been created (Also, you have them in the list 'created_dataframes'): \n")
for value in have_fun['country'].unique():
    if value[0].isnumeric():
        value = 'A_' + value
    locals()["".join([e for e in value.strip().replace(' ', '_') if e.isalnum()])] = have_fun[have_fun['country'] == value].reset_index(drop = True)
    created_dataframes.append("".join([e for e in value.strip().replace(' ', '_') if e.isalnum()]))
    print("      " + "".join([e for e in value.strip().replace(' ', '_') if e.isalnum()]))
    
print('\n')

The Following DataFrames has been created (Also, you have them in the list 'created_dataframes'):

      Spain
      Brazil
      France
      Albania
      Thailandia
      EMPTY

In [46]:
# For Example: 
Spain

  country funny_cities
0   Spain       Madrid
1   Spain      Langreo
2   Spain     Tenerife

# -------------------------------------------------------------------------------------------------------